﻿@model IEnumerable<Site.Areas.Customer.Models.CatalogueViewModel>
@{
    Layout = null;
}
    <h3>Catalogue List</h3>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item"><span class="badge">12</span>
                @Html.ActionLink(string.Format("{0}",item.Name), "ProductList", "Product", new{ id = item.CatalogueId },null)
            </li>            
        }
    </ul>


