﻿@using Site.Areas.Customer.Models;
@model IEnumerable<CatalogueViewModel>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Html.DisplayFor(i => item.Name)
            </li>

        }
    </ul>
