﻿@model Site.Areas.Customer.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<style>    
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {            
            width: 50%;
            margin: auto;
        }
</style>
<div class="container">
    <br />
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @{var counter = 1;           
            foreach (var itemImage in Model.SlideHomes)
            {
                if (itemImage == Model.SlideHomes.FirstOrDefault())
                {
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                }
                else
                {
                    <li data-target="#myCarousel" data-slide-to="@counter"></li>
                }
                counter++;
            }
            }
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            @foreach (var itemImage in Model.SlideHomes)
            {
                if (itemImage == Model.SlideHomes.FirstOrDefault())
                {
                    <div class="item active">
                        <img src="@Url.Content(itemImage.Image)" alt="Image" width="650px" height="150px" />
                    </div>
                }
                else
                {
                    <div class="item">
                        <img src="@Url.Content(itemImage.Image)" alt="Image" width="650px" height="150px" />
                    </div>
                }
            }
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="row">
    @foreach(var item in Model.Catalogues)
    {
        <div class="col-md-4">
        <h2>@Html.DisplayFor(it => item.Name)</h2>
        <p>
            @Html.DisplayFor(it => item.Description)
        </p>
            <p>
                <a class="btn btn-default" href="@Url.Action("ProductList", "Product", new { id = item.CataloguesId })">Xem Chi Tiết &raquo;</a>                                
            </p>
        </div>
    }
   
</div>