﻿@model IEnumerable<Site.Models.UserViewModel>
@{
    ViewBag.Title = "ItemList";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<h2>ItemList</h2>
<ul>
    @foreach(var item in Model)
    {
        <li>
            @Html.DisplayFor(d=>item.AccountName)
        </li>
    }

</ul>

