﻿@model PaginatedList<Site.Areas.Customer.Models.ProductViewModel>
    @using IoC.Core.Pagination;
    <div class="col-sm-8">

        @{ var odd = true; }
        @foreach (var p in Model)
        {
            <div class='@(odd ? "row item-even":"row item-list")'>
                <div class="col-sm-3">
                    <img src="/Images/Upload/Customer/5.jpg" width="160px" height="120px" alt="Image">
                </div>

                <div class="col-md-5">
                    <a href="@Url.Action("ProductDetail", "Product", new { id = p.ProductId })">@Html.DisplayFor(item => p.Name)</a>
                    <p>
                        <ul>
                            <li>Số lầu: @Html.DisplayFor(item => p.Floors)</li>
                            <li>Ngang: @Html.DisplayFor(item => p.Width)m</li>
                            <li>Dài: @Html.DisplayFor(item => p.Hight)m</li>
                            <li>Toilet: @Html.DisplayFor(item => p.WC)</li>
                            <li>Hướng: @Html.DisplayFor(item => p.Direction)</li>
                        </ul>
                    </p>
                    <p>
                        <span class="span-button">Giá: @Html.DisplayFor(item => p.Price) Tỷ</span>
                        <span class="span-button">Phòng ngủ: @Html.DisplayFor(item => p.BedRoom)</span>
                        <span class="span-button">Phòng tắm: @Html.DisplayFor(item => p.BathRoom)</span>
                    </p>
                </div>
            </div>
        }
        <div class="pagination-container">
            <ul class="pagination">
                @{
                    if (Model.PageIndex == 1)
                    {
                        <li><a href="javascript:void(0);">« «</a></li>
                    }
                    if (Model.HasPreviousPage)
                    {
                        <li><a href="javascript:void(0);">«</a></li>
                    }
                }
                @for (int i = 1; i < Model.TotalPages; i++)
                {
                    <li><a href="javascript:void(0);">@i</a></li>
                }
                @{if (Model.HasNextPage)
                {
                    <li><a href="javascript:void(0);">»</a></li>
                }
                if (Model.PageIndex == Model.TotalCount)
                {
                    <li><a href="javascript:void(0);">» »</a></li>
                }
                }
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
    </div>

<script language="text/javascript">
        
    $(document).ready(function () {
        
        $('.pagination-container .pagination li a').click(function (e) {
            if (e.preventDefault())
                return;
            
            var curPage = parseInt($(this).html());            
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ProductRelated", "Product")',                                
                data: { "page": curPage },
                datatype: 'html',
                contenttype: "application/x-www-form-urlencoded; charset=utf-8",
                success: function (data) {                    
                    $('div div[class="row"]').last().html(data);
                },
                error: function (e) {
                    console.error('error' + e);
                }
            });
        });
    });
</script>

