﻿@model Site.Areas.Customer.Models.ProductViewModel
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<h3 class="item-section">Product Detail</h3>

    <div class="row">
        <div class="col-sm-8">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    @{var counter = 1;}
                    @foreach (var item in Model.FileStores)
                    {
                        if (item == Model.FileStores.FirstOrDefault())
                        {
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        }
                        else
                        {
                            <li data-target="#myCarousel" data-slide-to="@counter"></li>
                        }
                        counter++;
                    }
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    @foreach (var item in Model.FileStores)
                    {
                        if (item == Model.FileStores.FirstOrDefault())
                        {
                            <div class="item active">
                                <img src='@Url.Content(item.FileName)' alt="Image" width="450px" height="150px" />
                                <div class="carousel-caption">
                                    <h3>Sell $</h3>
                                    <p>Money Money.</p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="item">
                                <img src='@Url.Content(item.FileName)' alt="Image" width="450px" height="150px" />
                                <div class="carousel-caption">
                                    <h3>Sell $</h3>
                                    <p>Money Money.</p>
                                </div>
                            </div>
                        }
                    }
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <p>Some text..</p>
            </div>
            <div class="well">
                <p>Upcoming Events..</p>
            </div>
            <div class="well">
                <p>Visit Our Blog</p>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <h3 class="item-section">Liên hệ</h3>
    </div>
    <!--Show product owner information-->
    <div class="row">
        <div class="col-sm-8">        
            
                <div class="row">
                    <div class="col-sm-3">
                        Họ tên:
                    </div>
                    <div class="col-sm-5">
                        @Html.DisplayFor(it => Model.ProductOwner.FullName)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        Di động:
                    </div>
                    <div class="col-sm-5">
                        @Html.DisplayFor(it => Model.ProductOwner.Mobile)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        Email:
                    </div>
                    <div class="col-sm-5">
                        @Html.DisplayFor(it => Model.ProductOwner.Email)
                    </div>
                </div>            
        </div>
        <div class="col-sm-4">
        </div>
    </div>
<div class="row">
    <h3 class="item-section">Sản Phẩm Liên Quan</h3>
</div>
    <div class="row">        
        @Html.Action("ProductRelated", "Product")        
    </div>
