﻿@model Site.Areas.Customer.Models.CommonViewModel
@{
    Layout = "~/Areas/Customer/Views/Shared/_LayoutProduct.cshtml";
}
<h3>Nhóm Sản Phẩm: @Html.DisplayFor(it => Model.CatalogueName)</h3>
<center><strong>Không có sản phẩm nào</strong></center>

