﻿@model PagedList.IPagedList<Site.Areas.Customer.Models.ProductViewModel>
    @using PagedList.Mvc;
    @using System.Linq;
    @{
        ViewBag.Title = "ProductDetail";
        Layout = "~/Areas/Customer/Views/Shared/_LayoutProduct.cshtml";
    }

    <h3>Nhóm Sản Phẩm: @Html.DisplayFor(it => Model.FirstOrDefault().CataloguesName)</h3>

    <!--Show 10 Product List-->
    @{ var odd = true; }
    @foreach (var p in Model)
    {
        <div class='@(odd ? "row item-even":"row item-list")'>
            <div class="col-sm-3">
                @*<img src="@Url.Content(p.FileStores.Take(1).FileName)" width="100px" height="50px" alt="Image">*@
                <img src="/Images/Upload/Customer/5.jpg" width="160px" height="120px" alt="Image">
            </div>

            <div class="col-md-5">
                <a href="@Url.Action("ProductDetail", "Product", new { id = p.ProductId })">@Html.DisplayFor(item => p.Name)</a>
                @*<strong>@Html.DisplayFor(item => p.Name)</strong>*@
                @*<h4 class="title-real-estates">@Html.DisplayFor(item => p.Name)</h4>*@

                <p>
                    <ul>
                        <li>Số lầu: @Html.DisplayFor(item => p.Floors)</li>
                        <li>Ngang: @Html.DisplayFor(item => p.Width)m</li>
                        <li>Dài: @Html.DisplayFor(item => p.Hight)m</li>
                        <li>Toilet: @Html.DisplayFor(item => p.WC)</li>
                        <li>Hướng: @Html.DisplayFor(item => p.Direction)</li>
                    </ul>
                </p>
                <p>
                    <span class="span-button">Giá: @Html.DisplayFor(item => p.Price) Tỷ</span>
                    <span class="span-button">Phòng ngủ: @Html.DisplayFor(item => p.BedRoom)</span>
                    <span class="span-button">Phòng tắm: @Html.DisplayFor(item => p.BathRoom)</span>
                </p>
            </div>
        </div>

    }
    
    @if(@Model.PageCount > 1)
    {
        @:Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("ProductList", new { page }))                                     
    }

