﻿@model PagedList.IPagedList<Site.Areas.Customer.Models.ProductViewModel>
    @using PagedList.Mvc;
    @using System.Linq;
    @{
        ViewBag.Title = "List";
        Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
    }

    <h3>Nhóm Sản Phẩm: @Html.DisplayFor(it => Model.FirstOrDefault().CataloguesName)</h3>
        @if (!Model.Any())
        {
            <div class="row">
                <div class="col-sm-12">
                    <center><strong>No content</strong></center>
                </div>
            </div>
        }<h3></h3>
    <div class="row">
        <div class="col-sm-12">
            <center><strong></strong></center>
        </div>
    </div>
    <!--Show 10 Product List-->
    <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    @{ var odd = true; }
                    @foreach (var p in Model)
                    {
                        <div class='@(odd ? "row item-even":"row item-list")'>
                            <div class="col-sm-3">

                                <img src="/Images/Upload/Customer/5.jpg" width="160px" height="120px" alt="Image">
                            </div>

                            <div class="col-md-5">
                                <a href="@Url.Action("ProductDetail", "Product", new { id = p.ProductId })">@Html.DisplayFor(item => p.Name)</a>


                                <p>
                                    <ul>
                                        <li>Số lầu: @Html.DisplayFor(item => p.Floors)</li>
                                        <li>Ngang: @Html.DisplayFor(item => p.Width)m</li>
                                        <li>Dài: @Html.DisplayFor(item => p.Hight)m</li>
                                        <li>Toilet: @Html.DisplayFor(item => p.WC)</li>
                                        <li>Hướng: @Html.DisplayFor(item => p.Direction)</li>
                                    </ul>
                                </p>
                                <p>
                                    <span class="span-button">Giá: @Html.DisplayFor(item => p.Price) Tỷ</span>
                                    <span class="span-button">Phòng ngủ: @Html.DisplayFor(item => p.BedRoom)</span>
                                    <span class="span-button">Phòng tắm: @Html.DisplayFor(item => p.BathRoom)</span>
                                </p>
                            </div>
                        </div>


                    }
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("ProductList", new { page }))
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
    

