﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*--------Override some css ------*/
.span-button
{
    background-color:#75B623;
    color:#fff;
    padding:0.15em;
}

.row .col-md-5 a
{
    color:#4d0a0a;
    font-weight:600;
    text-decoration:none;
}
.row .item-section, .container .item-section
{
    color:#4d0a0a;
    font-weight:600;
    text-decoration:none;
}
.item-odd
{
    background-color:#f5f2f2;
}
.item-even
{    
    border-top:solid 1px #ccc;
    padding-top:10px;
}

.page-number
{
            background-color:green;
            width:40px;
            height:40px;
            padding: 5px;
            color:white;
}