﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Product", "Index/1", "Product")</li>
                <li>@Html.ActionLink("User", "ItemList", "User")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                <!--Dropdown menu-->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Product
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Product 11", "Index/1", "Product")</li>
                        <li>@Html.ActionLink("Product 2", "Index/1", "Product")</li>
                        <li>@Html.ActionLink("Product 3", "Index/1", "Product")</li>
                    </ul>
                </li>

                <!--Dropdown Catalogue menu-->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Catalogues
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Catalogue 1", "Index", "Catalogue")</li>
                        <li>@Html.ActionLink("Catalogue 2", "Index", "Catalogue")</li>
                        <li>@Html.ActionLink("Catalogue 3", "Index", "Catalogue")</li>
                    </ul>
                </li>

                <!--Dropdown ProductOwner menu-->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Product Owner
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("ProductOwner 1", "Index", "ProductOwner")</li>
                        <li>@Html.ActionLink("ProductOwner 2", "Index", "ProductOwner")</li>
                        <li>@Html.ActionLink("ProductOwner 3", "Index", "ProductOwner")</li>
                    </ul>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
                      
        </div>        
    </div>
</div> 
<div>
    You are here:@Html.MvcSiteMap().SiteMapPath()    
</div>