﻿@using Site.Areas.Customer.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    


    @RenderPage("~/Areas/Customer/Views/Shared/_LayoutHeader.cshtml")                                                   
    <div class="container body-content">        
        @RenderBody()       
    </div>
    @RenderPage("~/Areas/Customer/Views/Shared/_LayoutFooter.cshtml")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
      
    
</body>
</html>
